/* #region CSS RESET */
*,
::before,
::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
/* #endregion */

body {
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.item-grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 1rem;
	padding: 1rem;
}

.item {
	display: flex;
	flex-direction: column;
	align-items: center;

	img {
		width: 100%;
		/* height: 100%; */
		aspect-ratio: 1;
		object-fit: scale-down;
		border: 2px solid black;
		border-radius: 2rem;
	}
}

.top-bar {
	display: flex;
}

.search-bar {
	width: 90%;
	border: 1px solid black;
	border-radius: 4rem;
	line-height: 2em;
	margin-left: 1rem;
}

.add-item-btn {
	aspect-ratio: 1;
	border: 2px solid black;
	border-radius: 100%;
}
